@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
.max-container{
    /* viewport(기기) 화면 100% 채우기 */
    width: 100vw;
    height: 100vh;
}

.navi-box{
    height: 80px;
    width: 100vw;
}
.navi-box > .navi{
    width: 60%;
    height: 100%;

    /* 좌우 가운데 배치 */
    margin: 0 auto;

    display: flex;

}



.half-box{
    width: 50%;
    height: 100%;
}
.half-box > img {
    height: 100%;

}

.half-box{
    width: 50%;
    height: 100%;
    

}
.half-box >.button{
    border: none;
    border-radius: 20px;
    background-color: transparent;

    height: 48px;

    font-family: 'Pretendard-Regular';

    font-size: 16px;
    padding: 14px 16px;
    /* padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px; */
}
.half-box > .button:first-child{
    color: #ff5160;
}

.button:hover{
    background-color: #0000000D;
    
}

.hero-box{
    width: 100vw;
    height: calc(100vh - 80px);



    background-image: url("freestocks-_3Q3tsJ01nc-unsplash.jpg");
    background-size: cover;
    
}
.title{
    font-size: 50px;
    text-align: center;
    color: white;
}

.centeralize{
    display: flex;
    justify-content: center;
    align-items: center;
}