body {
	display: flex;
	justify-content: center;
	.container {
		width: 50vw;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		.button {
			padding: 20px;
			border: 1px solid gray;
			border-radius: 10px;
			background-color: tomato;
		}
	}
}
